<!doctype html>

<header class="header">
<div class="container">
<div class="row">
<div class="col-md-3 logo">
<a href="add-employe.html">
<img src="../../assets/images/Logo_Erste_Group.png" alt="Image" title="Main-Logo" class="">
</a>
</div>
<div class="col-md-9">
<nav> 
<a id="resp-menu" class="responsive-menu logo" href="#"><i class="fa fa-reorder"></i> Menu</a>
  <ul class="menu">
        <!--<li><a href="add-employe.html">Add Employes</a></li>
        <li><a href="employe-details.html" class="active">Employe Details</i></a></li>
        <li><a href="timesheet-upload.html">Timesheet Upload</a></li>-->
  </ul>
</nav>
</div>
</div>
</div>
</header>
<section class="jumbotron card-wight">
<div class="container content-panel">
<div class="card-panel">
    <h3 class="h3 mb-3 font-weight-normal">Employes Details</h3>
    <div class="table-responsive">
    <table class="table table-bordered">
            <tbody><tr>
                    <th>S.No</th>
                    <th>Employe Name </th>
                    <th>Role (as per the MSA) </th>
                    <th>Project Level</th>
                    <th>Rate (As per MSA)</th>
                    <th>Total PDs</th>
                    <th>Invoicing(EUR)</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Santosh</td>
                    <td>UI Developer</td>
                    <td>Ersta</td>
                    <td>8</td>
                    <td>15</td>
                    <td>20 (EUR)</td>
                </tr>
                <tr id="customertd1">
                    <td>2.</td>
                    <td>Nitish</td>
                    <td>Angular Developer</td>
                    <td>Ersta</td>
                    <td>9</td>
                    <td>15</td>
                    <td>20 (EUR)</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Javeed</td>
                    <td>Angular Developer</td>
                    <td>Ersta</td>
                    <td>10</td>
                    <td>15</td>
                    <td>20 (EUR)</td>
                </tr>
                <tr>
                        <td>4.</td>
                        <td>Santosh</td>
                        <td>UI Developer</td>
                        <td>Ersta</td>
                        <td>8</td>
                        <td>15</td>
                        <td>20 (EUR)</td>
                        </tr>
                        <tr id="customertd1">
                        <td>5.</td>
                        <td>Nitish</td>
                        <td>Angular Developer</td>
                        <td>Ersta</td>
                        <td>9</td>
                        <td>15</td>
                        <td>20 (EUR)</td>
                        </tr>
                        <tr>
                        <td>6.</td>
                        <td>Javeed</td>
                        <td>Angular Developer</td>
                        <td>Ersta</td>
                        <td>10</td>
                        <td>15</td>
                        <td>20 (EUR)</td>
                        </tr>
                
                </tbody>
    </table>
    </div>
</div>
</div>
</section>




