<div class="login-sec">    
<div class="form-signin">
 <div class="text-center">
    <img class="col-md-6 " src="../../assets/images/Logo_Erste_Group.png" alt="" width="72" height="72">
<!--    <h1 class="h3 font-weight-normal">Ersta Timesheet</h1>   -->
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <a >
         <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="goToEmployee()">Submit</button>  
    </a>   
</div>
<div class="forgot-sec">
        <a href="#">Forgot password</a>
    </div>
</div>


